<!DOCTYPE html>

<head>
<title>Timestamp Microservice API</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <h1><i class="fa fa-clock-o" aria-hidden="true"></i>Timestamp Microservice API</h1>
    <div class='container'>
        <h3>Pass a string as a parameter, and you should get a date object back.</h3>
        <p>Example usage: </p>
        <div class='box'>
            <p>https://fcc-api-timestamp-microservice-kraxx.c9users.io/March 13, 2017</p>
            <p>https://fcc-api-timestamp-microservice-kraxx.c9users.io/1488499200000</p>
        </div>
    </div>
</body>



